<footer>
  <div>
    <address class="h-card">
      <p class="p-name">noesya Paris</p>
      <span class="p-street-address">15 rue Hélène</span><br>
      <span class="p-postal-code">75017</span> <span class="p-locality">Paris</span>
    </address>
    <address class="h-card">
      <p class="p-name">noesya Bordeaux</p>
      <span class="p-street-address">5 rue Frédéric Joliot Curie</span><br>
      <span class="p-postal-code">33150</span> <span class="p-locality">Cenon</span>
    </address>
    {% include nav-secondary.html %}
    <!-- <a href="https://bcorporation.net" target="_blank" rel="noreferrer"><img src="/assets/images/logo-bcorp.svg" alt="Certified B-Corporation" width="63" height="103"></a> -->
    {% picture owl "/assets/images/chouette.png" --img alt="La chouette Noesya" %}
    {% include nav-legal.html %}
    <a href="mailto:{{site.email}}" target="_blank" class="u-email">{{site.email}}</a>
  </div>
</footer>
