
{% capture index %}
  {{ note_index }}.
{% endcapture %}

{% capture note_content %}
  {{index}} Voir {% if note.url %}<a href="{{ note.url }}" target="_blank" rel="noreferrer">{% endif %}{{ note.title }}{% if note.url %}</a>{% endif %}
{% endcapture %}

<aside class="js-note" id="note-{{ note_index }}">
  {% if note.image %}
    {% picture note "{{ note.image }}" --img alt="{{ note.title }}" title="{{ note.title }}" loading="lazy" %}
  {% endif %}
  {{ note_content | markdownify | correct_punctuation }}
</aside>
