<section {% if page.layout == "member" %} class="js-p-index" {% endif %}>
  {% for section in page.sections %}
    {% if section.title %}
      <h2>{{section.title}}</h2>
    {% endif %}
    {{section.content | markdownify | correct_punctuation}}
  {% endfor %}

  {% assign note_index = 0 %}
    {% for section in page.sections %}
      {% for note in section.notes %}
      {% assign note_index = note_index | plus: 1 %}
      {% include note.html note=note index=note_index %}
    {% endfor %}
  {% endfor %}
</section>
