@mixin border-line
    position: relative
    &::after
        background: $border-color-on-gray
        content: ''
        height: 100%
        opacity: 0.1
        position: absolute
        top: 0
        width: 1px
        @content
