@mixin border-line
    position: relative
    &::after
        background: $border-color
        content: ''
        height: 100%
        position: absolute
        top: 0
        width: 1px
        @content
        @media (prefers-color-scheme: dark)
            background: $border-color-reverse
