@media (prefers-color-scheme: dark)
    ::selection
        background: rgba($white, .3)
        color: $primary

    ::-moz-selection
        background: rgba($white, .3)
        color: $primary

    body,
    body > main
        background-color: $primary

    body
        color: $white

    a
        color: $white
        text-decoration-color: adjust-color(white, $alpha: -0.8)
        &:hover
            text-decoration-color: white

    body > header
        > a
            filter: invert(1)

    .burger
        i, &::after, &::before
            background: $white

    .menu a
        color: $primary

    main > nav
        background-color: $bg-secondary-color-reverse
        span
            color: $secondary-reverse
        li+li::after
            background: $border-color-reverse
    body > footer
        background-color: $white
        color: $primary
        li span, a
            color: $secondary
        a
            text-decoration-color: adjust-color($primary, $alpha: -0.8)
            &:hover
                color: $primary
                text-decoration-color: $primary

    main.index
        section
            li
                a
                    &::after
                        filter: invert(0)
    main.team
        p
            color: $secondary-reverse

    main.member
        header+div
            background-color: $bg-secondary-color-reverse
            > section h2+p
                color: $secondary-on-gray-reverse
