@media (prefers-color-scheme: dark)
    ::selection
        background: rgba($white, .3)
        color: $primary

    ::-moz-selection
        background: rgba($white, .3)
        color: $primary

    body
        background-color: $primary

    body,
    a
        color: $white
