section
    @include container
    padding-bottom: $grid-gutter * 2
    @include media-breakpoint-up(md)
        padding-bottom: $grid-gutter * 4
    @include media-breakpoint-up(xl)
        padding-bottom: $grid-gutter * 8
