body > div > header
    @include container
    padding-top: $grid-sm-margin * 2
    position: sticky
    top: 0
    z-index: 2
    @include media-breakpoint-up(md)
        padding-top: $grid-gutter * 2
    a
        text-decoration: none