body > header
    @include container
    left: 0
    padding-top: $grid-sm-margin * 2
    position: fixed
    right: 0
    top: 0
    z-index: 2
    @include media-breakpoint-up(md)
        padding-top: $grid-gutter * 2
    a
        text-decoration: none
    > a
        display: inline-block
        mix-blend-mode: negative
        transition: filter .3s ease
        .is-menu-opened &
            filter: invert(1)
