a
    color: black
    text-decoration-color: adjust-color(black, $alpha: -0.8)
    text-decoration-thickness: 1px
    text-underline-offset: 3px
    transition: text-decoration .3s, color .3s ease
    &:hover
        text-decoration-color: black
    &[target="_blank"]
        position: relative
        &::after
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCAxMS43IDExLjciIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZT4uc3Qwe2ZpbGw6IzJhMmUzYn08L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Im03IDgtMiAyYy0uOS45LTIuNC45LTMuMyAwLS45LS45LS45LTIuNCAwLTMuM2wyLTJjLjItLjIuMi0uNSAwLS43cy0uNS0uMi0uNyAwTDEgNmEzLjMyIDMuMzIgMCAwIDAgMCA0LjdjLjYuNiAxLjUgMSAyLjQgMXMxLjctLjMgMi40LTFsMi0yYy4yLS4yLjItLjUgMC0uN3MtLjYtLjItLjggMHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTAuNyAxQTMuMzIgMy4zMiAwIDAgMCA2IDFMNSAyYy0uMi4yLS4yLjUgMCAuN2wxLjYgMS42TDMgOGMtLjIuMi0uMi41IDAgLjcuMS4xLjIuMS40LjFzLjMgMCAuNC0uMUw3LjMgNSA5IDYuN2MuMS4xLjIuMS40LjFzLjMgMCAuNC0uMWwxLTFDMTIgNC40IDEyIDIuMyAxMC43IDF6TTEwIDVsLS43LjZMOCA0LjNsLjYtLjZjLjItLjIuMi0uNSAwLS43cy0uNC0uMi0uNiAwbC0uNy42TDYgMi4zbC42LS42Yy45LS45IDIuNC0uOSAzLjMgMCAxIC45IDEgMi40LjEgMy4zeiIvPjwvc3ZnPgo=)
            background-repeat: no-repeat
            background-size: contain
            content: ''
            display: inline-block
            height: .8rem
            margin-left: .3rem
            position: absolute
            transition: filter .3s ease
            width: .8rem



    @include media-breakpoint-up(md)
        .is-menu-opened main &
            color: $white
