html
    -ms-text-size-adjust: 100%
    -webkit-tap-highlight-color: transparent
    -webkit-text-size-adjust: 100%
    font-family: $font-family-serif

h1, .h1, h2, h3
    font-family: $font-family-sans-serif

h1, .h1
    font-size: px2rem(65)
    line-height: px2rem(90)

.h1
    color: $gray

h2
    font-size: px2rem(45)
    line-height: px2rem(90)

p, li, dl
    font-size: px2rem(19)
    line-height: px2rem(30)
    section &
        font-size: px2rem(25)
        line-height: px2rem(45)

dt, dd
    margin-bottom: px2rem(30)

address
    font-size: px2rem(22)
    line-height: px2rem(36)

sup
    font-size: smaller
    line-height: 1
    vertical-align: super

em, i
    font-style: italic

blockquote
    border-bottom: 1px rgba($border-color, 0.1) solid
    border-top: 1px rgba($border-color, 0.1) solid
    font-family: $font-family-sans-serif
    font-size: px2rem(45)
    line-height: px2rem(65)
    padding: #{$grid-gutter * 2} 0
    text-align: center

section
    p
        margin-bottom: $grid-gutter * 2
    blockquote
        margin: #{$grid-gutter * 4} 0
    p + blockquote
        margin-top: $grid-gutter * 2
    small
        color: $border-color
        font-size: px2rem(19)
        line-height: px2rem(30)
        margin-top: px2rem(9)
        opacity: 0.4
