html
    -ms-text-size-adjust: 100%
    -webkit-tap-highlight-color: transparent
    -webkit-text-size-adjust: 100%
    font-family: $font-family-serif

h1, .h1, h2, h3
    font-family: $font-family-sans-serif

h1, .h1
    font-size: px2rem(36)
    line-height: px2rem(50)
    @include media-breakpoint-up(lg)
        font-size: px2rem(65)
        line-height: px2rem(90)

h1
    margin-bottom: $grid-gutter * 2
    @include media-breakpoint-up(lg)
        margin-bottom: $grid-gutter * 5

.h1
    &, a
        color: $secondary
        text-decoration: none
        .is-menu-opened &
            color: $secondary-reverse

h2
    font-size: px2rem(28)
    line-height: 1.4
    margin-bottom: $grid-gutter * 2
    @include media-breakpoint-up(lg)
        font-size: px2rem(45)

// Engagements
p + h2
    margin-top: $grid-gutter * 4

// La plupart des textes
p, li, dl
    font-size: px2rem(14)
    line-height: px2rem(24)
    section &
        font-size: px2rem(19)
        line-height: px2rem(30)

// Notes
aside
    p
        font-size: px2rem(14)
        line-height: px2rem(24)
        @include media-breakpoint-up(lg)
            font-size: px2rem(16)
            line-height: px2rem(28)

// Chapitres métiers et équipe
p
    section > &
        font-size: px2rem(20)
        line-height: px2rem(32)
        @include media-breakpoint-up(lg)
            font-size: px2rem(25)
            line-height: px2rem(45)

dd
    margin-bottom: px2rem(30)

address
    &, p
        font-size: px2rem(22)
        line-height: px2rem(36)

sup
    font-feature-settings: "sups" 1, "ordn" 1
    a
        text-decoration: none

em, i
    font-style: italic

blockquote
    border-bottom: 1px $border-color solid
    border-top: 1px $border-color solid
    font-family: $font-family-sans-serif
    font-size: px2rem(28)
    line-height: 1.4
    padding: #{$grid-gutter * 2} 0
    text-align: center
    @include media-breakpoint-up(lg)
        font-size: px2rem(45)

section
    p
        margin-bottom: $grid-gutter * 2
    blockquote
        margin: #{$grid-gutter * 2} 0
    p + blockquote
        margin-top: 0
    small
        color: $secondary
        display: block
        font-size: px2rem(19)
        line-height: px2rem(30)
        margin-top: px2rem(9)
        position: absolute
        right: $grid-gutter * 2
        @include media-breakpoint-down(md)
            display: none
