main.metier
    header + section
        @include media-breakpoint-up(md)
            @include grid
            position: relative
            h2, p, blockquote
                grid-column: 1/9
            aside
                &.is-handled:not(.is-fixed)
                    grid-column: 10/13

