main.metier
    article
        @include grid(12)
        margin-bottom: $grid-gutter * 2
        picture
            grid-column: 1/5
            grid-row: 1/4
            img
                display: block
        h3, p, a
            grid-column: 5/9
        p
            color: $secondary
            font-size: px2rem(22)
            line-height: px2rem(36)
            margin-bottom: 0
