main.metier
    section:first-of-type
        @include grid(12)
        p
            grid-column: 1/9
    article
        @include grid(12)
        picture
            grid-column: 1/4
        p
            font-size: px2rem(22)
            line-height: px2rem(36)
            margin-bottom: 0
