body > footer
    background-color: $primary
    bottom: 0
    color: white
    padding-bottom: #{$grid-gutter * 2}px
    padding-top: #{$grid-gutter * 4}px
    position: sticky
    div
        +container
