.burger
    cursor: pointer
    padding: 21px
    position: absolute
    right: 4px
    top: 40px
    z-index: 2
    i, &:after, &:before
        background: $black
        content: ''
        height: 1px
        left: 10px
        position: absolute
        transform-origin: center
        transition: transform 0.38s cubic-bezier(0.45, 0, 0.55, 1)
        width: 21px
    &:after
        transform: translateY(-9px)
    &:before
        transform: translateY(9px)
    a
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
        z-index: 2
        &:nth-child(2)
            display: none

.menu
    bottom: 0
    overflow: hidden
    position: fixed
    right: 0
    top: 0
    transition: 0.35s
    width: 0
    .container, nav
        height: 100%
        position: relative
        z-index: 2
    ul
        background: $white
        height: 100%
    &::after
        background: $white
        content: ''
        height: 100%
        position: absolute
        right: 0
        top: 0
        width: 50vw
        z-index: 1

#header:target
    .burger
        i
            transform: scaleX(0)
        &:after
            transform: rotate(-45deg)
        &:before
            transform: rotate(45deg)
        a
            &:nth-child(1)
                display: none
            &:nth-child(2)
                display: block

    .menu
        width: 100%
    // + main
    //     background: $primary
