main > nav
    background-color: $bg-secondary-color
    .is-menu-opened &
        background-color: $bg-secondary-color-reverse
    ul
        @include container
    a
        @extend h2
        display: block
        font-family: $font-family-sans-serif
        padding-bottom: $grid-gutter * 2
        padding-top: $grid-gutter * 2
    span
        color: $secondary
        transition: color .3s ease
        .is-menu-opened &
            color: $secondary-reverse

    @include media-breakpoint-up(md)
        ul
            @include grid(2)
        a
            padding-bottom: $grid-gutter * 4
            padding-top: $grid-gutter * 4
            text-decoration: none

        li + li
            @include border-line
                left: -#{$grid-gutter}
            padding-left: $grid-gutter
