aside
    grid-column: 5/13
    padding-bottom: $grid-gutter
    &:hover
        z-index: 2
    img
        display: block
        margin: 20px 0
        max-width: 124px
    p
        margin-bottom: 0
    &.is-fixed
        background: $bg-secondary-color
        bottom: 0
        left: 0
        padding: 5px $grid-gutter 10px 30px
        position: fixed
        transform: translateY(100%)
        transition: 0.25s
        width: 100%
        z-index: 3
        &.is-visible
            &, img
                transform: translateY(0)
        img
            bottom: 12px
            margin: 0
            position: absolute
            right: 12px
            transform: translateY(100%)
        picture + p
            padding-right: 120px

    &.is-handled:not(.is-fixed)
        display: flex
        flex-direction: column-reverse
        grid-column: 1/5
        position: absolute
