.note
    p
        margin-bottom: 0
    img
        display: block
        max-width: 100px
    &.is-fixed
        bottom: 0
        left: 0
        padding: 10px
        position: fixed
        width: 100%
        background: $gray-200
        transform: translateY(100%)
        transition: 0.25s
        &.is-visible
            transform: translateY(0)
    &:not(.is-fixed)
        padding-left: $container-padding-x
        position: absolute
        margin-top: -30px
        left: 0
        width: 33.33333333%
