<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "fr" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include seo.html %}

    <!-- Preload -->
    <link rel="preload" as="font" href="/assets/fonts/signifier/signifier-web-regular.woff2" type="font/woff2">
    <link rel="preload" as="font" href="/assets/fonts/signifier/signifier-web-regular-italic.woff2" type="font/woff2">
    <link rel="preload" as="font" href="/assets/fonts/soehne/soehne-web-buch.woff2" type="font/woff2">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body class="is-loading">
    {% include header.html %}
    <main aria-label="Content" class="{{ page.class | default: layout.class }}">
      {{ content }}
      {% include navigation-between-pages.html %}
    </main>
    {% include footer.html %}
    <script src="/assets/js/main.js" async defer></script>
  </body>
</html>
