---
layout: default
class: metier
---

<header>
  <div>
    <p class="h1"><a href="/equipe">Équipe</a></p>
    <h1>{{page.title}}</h1>
  </div>
  <div>
    {% picture member "{{ page.portrait }}" --img alt="{{ page.title }}" title="{{ page.title }}" %}
    {% picture member "{{ page.portrait_alt }}" --img alt="{{ page.title }} aussi" title="{{ page.title }} aussi" %}
  </div>
</header>

<div>
  <div>
    <h2>Parcours</h2>
    <p><em>{{ page.expertise }}</em></p>
    <dl>
      {% for item in page.summary.list %}
        {% include member/item.html item=item %}
      {% endfor %}
    </dl>
    <dl>
      {% for item in page.summary.more_list %}
        {% include member/item.html item=item %}
      {% endfor %}
    </dl>
  </div>
</div>

{% include sections-with-notes.html %}

{% include navigation-between-pages.html %}
