---
layout: default
---

<div class="container py-5">
    <h1>{{ page.title }}</h1>
</div>
<div class="bg-light py-5">
    <div class="container">
        <div class="row">
            <h2>Postes & Parcours</h2>
    
            <div class="col-md-6">
                {{ page.summary.chapo | markdownify }}
    
                {% assign list = page.summary.list %}
                {% for line in list %}
                    <div class="row">
                        <div class="col-md-4">
                            {{ line.title }}
                        </div>
                        <div class="col-md-8">
                            {{ line.content }}
                        </div>
                    </div>
                {% endfor %}
            </div>
    
            <div class="col-md-6">
                <div class="row">
                    {% assign list = page.summary.more_list %}
                    {% for line in list %}
                        <div class="col-md-4">
                            {{ line.title }}
                        </div>
                        <div class="col-md-8">
                            {{ line.content | markdownify }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pb-5 position-relative">
    {% assign sections = page.sections %}
    {% for section in sections %}
    <div class="row py-5">
        <div class="col-md-4">
            <h2>{{ section.title }}</h2>
        </div>
        <div class="col-md-8">
            {{ section.content | markdownify }}
        </div>
    </div>
    {% endfor %}

    {% for note in page.notes %}
        <div class="note js-note" id="note-{{ forloop.index }}">
            {{ note | prepend: "." | prepend: forloop.index | markdownify }}
        </div>
    {% endfor %}
</div>
