---
layout: default
type: member
---

<header>
    <p class="h1">Équipe<p>
    <h1>{{page.title}}</h1>
    <img src="{{ page.portrait }}" alt="{{ page.title }}">
    <img src="{{ page.portrait_alt }}" alt="{{ page.title }} aussi">
</header>

<section>
    <h2>Parcours</h2>
    <p><em>{{ page.expertise }}</em></p>
    <dl>
        {% for item in page.summary.list %}
            {% include member/item.html item=item %}
        {% endfor %}
    </dl>
    <dl>
        {% for item in page.summary.more_list %}
            {% include member/item.html item=item %}
        {% endfor %}
    </dl>
</section>

<section>
    {% for section in page.sections %}
        <h2>{{section.title}}</h2>
        {{section.content | markdownify | correct_punctuation}}
    {% endfor %}
</section>

{% assign note_index = 0 %}
<section>
    {% for section in page.sections %}
        {% for note in section.notes %}
            {% assign note_index = note_index | plus: 1 %}
            {% include note.html note=note index=note_index %}
        {% endfor %}
    {% endfor %}
</section>
