---
layout: page
class: page metier
---

<h2>Réalisations</h2>
{% for work in page.works %}
  <article>
    {% if work.image %}
      {% picture work "{{ work.image }}" --img alt="{{ work.title }}" title="{{ work.title }}" %}
    {% elsif work.video %}
      <video src="{{ work.video }}" autoplay playsinline muted loop></video>
    {% endif %}
    <h3>{{ work.title }}</h3>
    <p>{{ work.content }}</p>
    <a href="{{ work.url }}" target="_blank" rel="noreferrer">Visiter le site</a>
  </article>
{% endfor %}

<div>
  <a href="{{ page.action.profile_url }}">
    {% picture member "{{ page.action.image }}" --img alt="{{ page.action.image_alt }}" loading="lazy" %}
  </a>
  <p>{{ page.action.title }}<br>
    <a href="{{ page.action.url }}" target="_blank" rel="noreferrer">{{ page.action.text }}</a></p>
</div>
