$black: black
$white: white

$primary: #000000
$gray: rgba($primary, 0.4)
$bg-color: #FFFFFF
$bg-secondary-color: #F2F2F2
$border-color: #130F0F

$font-family-sans-serif: "Soehne", sans-serif
$font-family-serif: "Signifier", serif

// grid
$grid-cols: 12
$grid-gutter: 25
$grid-width: 1440
